*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: #009E9D;
    
}
header{
    background-color: #008B8A;
    color: #fff;
    display: flex;
    padding: 10px 20px;
    font-size: 20px;
  
}
.add-list{
    min-width: 200px;
    border-radius: 10px;
    height: 45px;
    font-size: 18px;
    background-color: #009E9D;
    color: #fff;
    border: 1px solid #fff;
    margin-left: 60px;
    margin-top: 10px;
}
.add-list:hover{
    background-color: #fff;
    color: #009E9D;
    border: 1px solid #fff;
}
main{
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;
    padding: 20px;
    height: 88vh;
   
}
main .main-container2 , .main-container3, .main-container4{
    width: 370px;
    background-color: #DCDCDC;
    border-radius: 10px;
    padding: 20px;
    height: 80vh;
   
}

.main-container{
   
    min-width: 370px;
    max-width: 390px;
    background-color: #DCDCDC;
    border-radius: 7px;
    padding: 20px;
    margin: 20px;
    max-height: 555px; 
   overflow-y: scroll;
}
.add-head-input{
    background-color: transparent;
    border: 1px solid transparent;
    height: 50px;
    width: 90%;
    font-size: 20px;
    font-weight: 600;
}
.button-inside , .button-save{
   
    margin-top: 15px;
    width: 150px;
    height: 45px;
    border: 1px solid #fff;
    font-size: 18px;
    background-color: #F8F8FF;
    color: #008B8A;

}
.button-save{
    margin-left: 12px;
}
.prg-inlist{
    text-wrap: wrap;
    height: 80px;
    background-color: transparent;
    border: transparent;
    width: 90%;
}
section{
   
    margin: 20px 0;
    padding: 10px;
    font-size: 17px;
    background-color: #F5F5F5;
    border-radius: 10px;
}
.txt{
    width: 230px;
    font-size: 17px;
}
.prg-head{
    margin-top: 0;
    font-size: 20px;
}
img{
    width: 18px;
   
}
.img-container img{
    width: 18px;
    margin-left: 15px;
}
.btnRemove{
    display: block;
}
.man1{
    width: 40px;
   
}
.img-container{
    display: flex;
    justify-content: space-between;
}
span{
    margin-left: 4px;
}